.sign-up-box {
      margin-top: 60px;
      font-size: 24px;
      width: 350px;
      height: 100%;
      margin-left:auto;
      margin-right:auto;
      border: none;
      display: flex;
      justify-content: space-around;
      box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);      
    }

.sign-up-form {
 padding-top:20px;
  height: auto;
  text-align: center;
  background-color: white;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}


.form-group {
  padding-top: 15px;
  padding-bottom: 10px;
}

.form-group-exception {
  padding-top: 10px;
  padding-bottom: 15px;
}

.some-text {
  padding: 30px;
}

.invalid-feedback {
  user-select: none;
  color: red;
  font-size: 12px;
  position: absolute;
  left:50%;
  transform: translate(-50%);
}
.form-control {
  border: 1px solid #eee;
  margin: 3px;
  padding: 10px 15px;
  width: 60%;
  border-radius: 20px;
  outline: none;
  background-color: rgb(241, 241, 241);
  color: black;
}
.form-control:focus {
  border: 1px solid #083D77;
}


.some-text {
    padding-top: 5px;
    font-size: 15px;
    user-select: none;
}
/*-----------------*/

.tab-list {  
  width: 100%;
  height: auto;
}

.tab-list-item {
  user-select: none;
  justify-content: center;
  background-color: white;
  height: calc(100% + 10px);
  width: calc(50% - 0px);
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 4px solid white;
}

.tab-list-inactive{
  transition: 0.2s;
}

.tab-list-inactive:hover{
  transition:0.2s;
  border-bottom-color:#ebebeb;
}
.tab-list-active{
  transition:0.2s;
  border-bottom-color:#083D77;
}
/*-----------------*/

@media screen and (max-width: 450px) {
  body{
    scrollbar-width: 0;
  }
  .tab-list-item{
    padding-bottom: 20px;
  }
  .sign-up-form{
    margin-top: 7px;
    width: 100vw;
  }
    .sign-up-box {
      margin-top: 7px;
      font-size: 23px;
      width: auto;
      height: 100%;
      border: none;
      border-radius: 0%;
      display: flex;
      justify-content: space-around;
      padding: 15px;      
    }
    .form-control {
      margin-left: 50%;
      transform: translate(-50%);
      padding: 4px 10px;
      width: 85%;
      border: none;
      border-radius: 15px;
      outline: none;
      display: flex;
    }
}