.sign-up-form {
  width: 350px;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: white;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  margin-top: 60px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
}

.form-group {
  padding-top: 15px;
  padding-bottom: 20px;
  
}

.form-group-exception {
  padding-top: 10px;
  padding-bottom: 15px;
}

.some-text {
  padding: 30px;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
  position: absolute;
  left:50%;
  transform: translate(-50%);
}
.form-control {
  border: none;
  margin: 3px;
  padding: 6px 12px;
  width: 60%;
  border-radius: 20px;
  outline: none;
  background-color: #eeeeee;
  color: black;
}

.submit {
  background-color: #083D77;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  
}
.some-text {
    padding-top: 5px;
    font-size: 15px;
}
/*-----------------*/

.tab-list {  
  width: 100%;
  height: auto;
  padding-bottom: 15px;
}

.tab-list-item {
  height: calc(100% + 10px);
  width: calc(50% - 3px);
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#left-tab.tab-list-active{
  border: solid white;
  border-width: 1px 1px 1px 1px; 
  border-right-color: #ccc;
}
#right-tab.tab-list-active {
  border: solid white;
  border-width: 1px 1px 1px 1px; 
}

#left-tab{
  border: 1px solid white;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  border-width: 0px 1px 0px 0px  solid #ccc;
  border-top-left-radius: 15px;
}
#right-tab {
  border: 1px solid white;
  border-bottom-color: #ccc;
  border-width: 0px 0px 0px 0px  solid #ccc;
  border-top-right-radius: 15px;
  
}
/*-----------------*/

@media screen and (max-width: 500px) {
  body{
    scrollbar-width: 0;
  }
    .sign-up-form {
      margin-top: 0px;
      font-size: 30px;
      width: calc(100vw - 10px);
      height: 100%;
      border: none;
      border-radius: 0%;
      display: flex;
      justify-content: space-around;
      padding: 15px;      
    }
    .form-control {
      padding: 4px 10px;
      width: 85%;
      border: none;
      border-radius: 15px;
      outline: none;
      margin-left: 50%;
      display: flex;
    }
}