.title,
.type,
.pictures {
  flex: 1 1 115px;
  color: #ffffff;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.publish {
  flex: 1 1 115px;
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.publish:hover {
  transition: 0.2s;
  background-color: #083D77;
}

.publish svg {
  width: 45px;
  height: 45px;
  fill: #202020;
}

.publish:hover svg {
  fill: #202020;
  transition: 0.2s;
  fill: #ffffff;
}

.title input {
    border: none;
    outline: none;
    color: black;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 15px;
}

label {
    color: black;
}

.tooltiptext-creator {
  visibility: hidden;
  color: #ffffff;
  text-align: center;
  position: absolute;
  margin-top: 47px;
}

.publish:hover .tooltiptext-creator {
  visibility: visible;
}
