.listing {
  width: 900px;
  margin: auto;
  padding: 10px;
}

@media screen and (max-width: 920px) {
  .listing {
    width: auto;
    margin: 0;
  }
}

/******************/

.listing-top {
  display: flex;
  gap: 10px;
}

/******************/

.listing-title {
  width: 30%;
  height: inherit;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
}

/******************/

.listing-pictures {
  color: #ffffff;
  width: 70%;
  height: auto;
  border-radius: 15px;
  padding: 0px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
}

/*****************/

.listing-description {
  display: flex;
  flex-wrap: inherit;
  padding: 30px 10px;
  color: #ffffff;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
}

.listing-description {
  width: auto;
  height: auto;
  border-radius: 20px;
  position: relative;
  border: none;
}

