.sign-up-form {
  width: 350px;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: white;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #083D77;
  border-radius: 15px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);

  transform: translate(0%, 35%);
}

.form-group {
  padding-top: 10px;
  padding-bottom: 20px;
}

.form-group-exception {
  padding-bottom: 5px;
}

.some-text {
  padding: 10px;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
}
.form-control {
  border: none;
  margin: 3px;
  padding: 4px;
  width: 60%;
  border-radius: 15px;
  outline: none;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: #eeeeee;
  color: black;
  border: 1px solid #dddddd;
}

.submit {
  background-color: #083D77;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.some-text {
    padding-top: 5px;
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    .sign-up-form {
      font-size: 30px;
      width: auto;
      height: 100vh;
      border-radius: 0px;
      display: flex;
      justify-content: space-around;

      transform: translate(0%, 0%);
    }
    .form-control {
      width: 60%;
      border: none;
      margin: 0px;
      padding: 4px;
      border-radius: 15px;
      outline: none;
      margin-left: 50%;
      display: flex;
      border: 1px solid #dddddd;
    }
  }